body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: 3em;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #e91e63;
    font-size: 2em;
    margin-top: 40px;
}

header img {
    width: 40%;
    max-width: 35vw;
    margin: 0 auto;
    display: block; 
}

.lanzamientos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

@media (max-width: 1920px) {
    .lanzamientos {
        flex-wrap: wrap;
    }
}

.lanzamientos .portada {
    margin: 10px;
    padding: 10px;
    max-width: 290px; 
    width: 100%;
    box-sizing: border-box;
}

h3, h4, h5 {
    text-align: center;
}

a {
    color: #dadada;
    text-decoration: none;
}

a:hover {
    color: #ff6347;
    text-decoration: underline;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: center;
    padding: 0 20px;
}

@media (min-width: 768px) {
    .links, .redes-sociales {
        display: flex;
        justify-content: space-around;
    }
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    height: auto;
    width: 150px;
    background-color: #333;
    overflow: hidden;
}

.links a img {
    width: 100%;
    height: auto;
}

.links a:hover {
    background-color: #444;
    color: #ff6347;
}

header {
    position: sticky;
    top: 0;
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    border-bottom: 1px solid #333;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    border-top: 1px solid #333;
}

footer h2 {
    color: #bbb;
}

footer .redes-sociales {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .redes-sociales a {
    display: inline-block;
    margin: 10px;
    padding: 0;
    background: none;
    border: none;
}

footer .redes-sociales img {
    width: 5vw;
    height: 5vw;
    max-width: 50px;
    max-height: 50px;
}

@media (max-width: 768px) {
    footer .redes-sociales img {
        width: 7vw;
        height: 7vw;
        max-width: 25px;
        max-height: 25px;
    }
}

footer .redes-sociales a:hover img {
    opacity: 0.8;
}
