:root {
  --color-bg: #0a0a0a;
  --color-primary: #0ff;
  --color-accent: #ff00cc;
  --color-text: #ffffff;
  --font-title: 'Bebas Neue', sans-serif;
  --font-body: 'Roboto', sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  scroll-behavior: smooth;
}

h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: var(--font-title);
}

h2 {
  font-size: 2.5rem;
  margin: 2rem 0 1rem;
  color: var(--color-accent);
}
h3 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

h6 {
  margin-top: 3rem;
  color: var(--color-accent);
}

p {
  font-size: clamp(0.7rem, 0.9vw, 1.05rem);
  line-height: 1.6em;
  text-align: center;
  padding: 0 20px;
}

a {
  color: #dadada;
  text-decoration: none;
}

a:hover {
  color: #ff6347;
  text-decoration: underline;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  border-bottom: 1px solid #333;
}

.logo {
  width: 40%;
  max-width: 35vw;
  transition: transform 1s, opacity 1s;
}

.lanzamientos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.lanzamientos .portada,
.portada {
  margin: 10px;
  padding: 10px;
  max-width: 290px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}


.links, .redes-sociales {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}

.links img, .redes-sociales img {
  width: 100px;
  height: auto;
  transition: transform 0.3s;
}

.links a:hover img, .redes-sociales a:hover img {
  transform: scale(1.1);
}

.reproductor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  animation: fadeIn 1.5s ease-in;
}

footer {
  background-color: --color-bg;
  padding: 1rem 0;
  border-top: 1px solid #333;
}

footer .redes-sociales {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer .redes-sociales a img {
  width: 5vw;
  max-width: 50px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0.7;
}

footer .redes-sociales a:hover img {
  opacity: 0.8;
  transform: scale(1.1);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 1920px) {
  .lanzamientos {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  footer .redes-sociales img {
    width: 7vw;
    max-width: 25px;
  }
}
